# Let's predict lottery numbers based on previous winning numbers!

<br>

First, grab the previous lottery data from an api

In [1]:
import pandas as pd
import requests
import json

In [2]:
req_lot = requests.get("https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=903")
req_lot.json()

{'totSellamnt': 88625160000,
 'returnValue': 'success',
 'drwNoDate': '2020-03-21',
 'firstWinamnt': 1684582212,
 'drwtNo6': 28,
 'drwtNo4': 21,
 'firstPrzwnerCo': 13,
 'drwtNo5': 22,
 'bnusNo': 45,
 'firstAccumamnt': 21899568756,
 'drwNo': 903,
 'drwtNo2': 15,
 'drwtNo3': 16,
 'drwtNo1': 2}

In [3]:
drwtNo1 = []
drwtNo2 = []
drwtNo3 = []
drwtNo4 = []
drwtNo5 = []
drwtNo6 = []
bnusNo = []
drwNoDate = []

for drwNo in range(1,948):
    req_lot = requests.get(f"https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo={str(drwNo)}")
    lotNo = req_lot.json()
    drwtNo1.append(lotNo['drwtNo1'])
    drwtNo2.append(lotNo['drwtNo2'])
    drwtNo3.append(lotNo['drwtNo3'])
    drwtNo4.append(lotNo['drwtNo4'])
    drwtNo5.append(lotNo['drwtNo5'])
    drwtNo6.append(lotNo['drwtNo6'])
    bnusNo.append(lotNo['bnusNo'])
    drwNoDate.append(lotNo['drwNoDate'])

    lot_dict = {"Date":drwNoDate, "Num1":drwtNo1, "Num2":drwtNo2, "Num3":drwtNo3, "Num4":drwtNo4, "Num5":drwtNo5, "Num6":drwtNo6, "bnsNum":bnusNo}

    df_lot = pd.DataFrame(lot_dict)

In [4]:
df_lot.to_csv("winning_nums", index = False)

In [12]:
pd.read_csv("./winning_nums.csv")

           Date  Num1  Num2  Num3  Num4  Num5  Num6  bnsNum
0    2002-12-07    10    23    29    33    37    40      16
1    2002-12-14     9    13    21    25    32    42       2
2    2002-12-21    11    16    19    21    27    31      30
3    2002-12-28    14    27    30    31    40    42       2
4    2003-01-04    16    24    29    40    41    42       3
..          ...   ...   ...   ...   ...   ...   ...     ...
942  2020-12-26     1     8    13    36    44    45      39
943  2021-01-02     2    13    16    19    32    33      42
944  2021-01-09     9    10    15    30    33    37      26
945  2021-01-16     9    18    19    30    34    40      20
946  2021-01-23     3     8    17    20    27    35      26

[947 rows x 8 columns]